<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/APLogo.png" id="app-logo-arg-programa">   
        </div>
        <div class="redes">
                <a href="https://www.facebook.com/shoofiia.k.p"><img src="../../../assets/img/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/sofyloree/?hl=es"><img src="../../../assets/img/instagram.png" alt="instagram"></a>
                <a href="https://www.linkedin.com/in/lorena-sof%C3%ADa-cabrera-630b19184"><img src="../../../assets/img/linkedin.png" alt="linkedin"></a>
                <a href="https://github.com/sofi19962023"><img src="../../../assets/img/github.png" alt="linkedin"></a>
                <button type="button" class="btn btn-light" (click)="login()">INGRESO</button>
        </div>
    </div>
</div>

