<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
            <li><h3>Contador Público</h3> - <h4>(2017-2023)</h4></li>
        <h5><p> Universidad Nacional de Cuyo
                Mendoza-Argentina
                </p></h5>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
        </ul>
        <ul>
            <li><h3>Gastor Judicial</h3> - <h4>(2020 - 2021)</h4></li>
            <h5><p> | Paysur | 
                Atención al cliente de forma presencial y por redes sociales.
                Confección de prestamos.</p></h5>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
        </ul>
        <ul>
            <li><h3>Secretariado Administrativo Contable</h3> - <h4>(2015 - 2016)</h4></li>
            <h5><p>  
                
                Realizar planillas de Microsoft Excel para análisis de riesgo
                crediticio de potenciales clientes de la empresa.</p></h5>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
        </ul>
    </div>
</div>
