<div class="row">
    <h1>Cursos Realizados</h1>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Diapositiva 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Diapositiva 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Diapositiva 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div>
            <img src="../../../assets/img/curso 1.png" alt="" id=banner class="w-50 img-fluid">
            <img src="../../../assets/img/relleno.png" alt="" class="w-50 img-fluid">
        </div>
                <div class="container">
          <div class="carousel-caption text-start">
                               </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div>
            <img src="../../../assets/img/curso2.png" alt="" id=banner class="w-50 img-fluid">
            <img src="../../../assets/img/relleno2.png" alt="" class="w-50 img-fluid">
        </div>
               <div class="container">
          <div class="carousel-caption">
                               </div>
        </div>
      </div>
      <div class="carousel-item">
        <div>
            <img src="../../../assets/img/curso3.png" alt="" id=banner class="w-50 img-fluid">
            <img src="../../../assets/img/relleno3.png" alt="" class="w-50 img-fluid">
        </div>
                 <div class="container">
          <div class="carousel-caption text-end">
                                </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anterior</font></font></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Próximo</font></font></span>
    </button>
  </div>