<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
            <li><h3>Administrativo Carga de Datos</h3> - <h4>(2022)</h4></li>
        <h5><p> Ministerio de Salud y Desarrollo Social. 
                Registro, carga y verificación de vacunas aplicadas.
                Confección de planillas.
                Atención al público.
                </p></h5>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
        </ul>
        <ul>
            <li><h3>Administrativo Contable</h3> - <h4>(2019)</h4></li>
            <h5><p> | Paysur | 
                Atención al cliente de forma presencial y por redes sociales.
                Confección de prestamos.
                Realizar planillas de Microsoft Excel para análisis de riesgo
                crediticio de potenciales clientes de la empresa.</p></h5>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
        </ul>
    </div>
</div>

     