<div class="row">
    <h1>hard y soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]="70"
            [imageSrc]="'../../../assets/img/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="75"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'BLACK'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="9"
            [outerStrokeColor]="'#5d2a80'"
            [innerStrokeColor]="'#ddc5ed'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]="70"
            [imageSrc]="'../../../assets/img/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="75"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'BLACK'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="9"
            [outerStrokeColor]="'#5d2a80'"
            [innerStrokeColor]="'#ddc5ed'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'../../../assets/img/java.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="75"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'BLACK'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="9"
            [outerStrokeColor]="'#5d2a80'"
            [innerStrokeColor]="'#ddc5ed'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="70"
            [imageSrc]="'../../../assets/img/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="75"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'BLACK'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="9"
            [outerStrokeColor]="'#5d2a80'"
            [innerStrokeColor]="'#ddc5ed'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'../../../assets/img/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="75"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'BLACK'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="9"
            [outerStrokeColor]="'#5d2a80'"
            [innerStrokeColor]="'#ddc5ed'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'../../../assets/img/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="75"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'BLACK'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="9"
            [outerStrokeColor]="'#5d2a80'"
            [innerStrokeColor]="'#ddc5ed'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
    </div>
</div>
