<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Encriptador</h2>
            <p>La historia​ es la narración de los sucesos del pasado; generalmente los de la humanidad, aunque, también puede no estar centrada en el humano ​. Asimismo, es una disciplina académica que estudia dichos acontecimientos
            </p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/encriptador.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
