<div class="row">
    <h1>Cursos Realizados</h1>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Diapositiva 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Diapositiva 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Diapositiva 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div>
            <img src="../../../assets/img/banner.png" alt="" id=banner class="w-50 img-fluid">
        </div>
                <div class="container">
          <div class="carousel-caption text-start">
            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ejemplo de titular.</font></font></h1>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Algún contenido de marcador de posición representativo para la primera diapositiva del carrusel.</font></font></p>
            <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Regístrate hoy</font></font></a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div>
            <img src="../../../assets/img/banner.png" alt="" id=banner class="w-50 img-fluid">
        </div>
               <div class="container">
          <div class="carousel-caption">
            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Otro ejemplo de titular.</font></font></h1>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Algún contenido de marcador de posición representativo para la segunda diapositiva del carrusel.</font></font></p>
            <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aprende más</font></font></a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div>
            <img src="../../../assets/img/banner.png" alt="" id=banner class="w-50 img-fluid">
        </div>
                 <div class="container">
          <div class="carousel-caption text-end">
            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Uno más por si acaso.</font></font></h1>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Algunos contenidos de marcador de posición representativos para la tercera diapositiva de este carrusel.</font></font></p>
            <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Explorar galería</font></font></a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anterior</font></font></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Próximo</font></font></span>
    </button>
  </div>