.row{
    padding: 30px;
}
div{
    background-color:rgb(191, 149, 211);
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (max-width:601px){
    #perfilfoto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px ghostwhite;
        left:30%;
        top: 600px;
    }
    @media (min-width:600px){
        #perfilfoto{
            position: absolute;
            width: 30%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px ghostwhite;
            left:30%;
            top: 450px;
        }
}
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
    margin-left: 0px;
}
