  <div class="row">
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
<img src="../../../assets/img/perfilfoto.jpg" class="img-fluid">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-log-2">
<h1><p id="nombre">Lorena Sofìa Cabrera</p></h1>
<h4><p>Full Stack Developer Jr</p></h4>
</div>
<div class="col-xs-12 col-sm-7 col-md-7 col-log-7">
    <span>
<h1>Acerca de mi</h1>
<h6><p>Me considero una persona organizada y proactiva.
    Poseo experiencia en atención al cliente y manejo
    de funciones administrativas. Actualmente estoy
    en búsqueda de nuevas experiencias y
    oportunidades de crecimiento.</p></h6>
    </span>
</div>
<div>
