.row{
    padding: 30px;
}
div{
    background-color:rgb(191, 149, 211);
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width:576px){
    #perfilfoto{
        width: 100%;
        border-radius: 10%;
        box-shadow: 3px 3px 3px ghostwhite;
        left:2%;
        top: 600px;
    }
}
    @media (max-width:576px){
        #perfilfoto{
            width: 75%;
            border-radius: 10%;
            box-shadow: 3px 3px 3px ghostwhite;
            left:27%;
            top: 600px;
        }
}
#Acerca{
    font-weight:bold;
    margin-top: 4%;
    margin-left: 0px;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
    margin-left: 0px;
}
