  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/img/perfilfoto.jpg" class="img-fuid" id="perfilfoto">
    </div>
    
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <h2><p id="nombre">Lorena Sofía Cabrera</p></h2>
    <h5><p>Full Stack Developer Jr</p></h5>
</div>
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <span><h2><p id="Acerca"> Acerca de mi</p></h2>
    <h6><p>
      Me considero una persona organizada y proactiva.
          Poseo experiencia en atención al cliente y manejo
            de funciones administrativas. Actualmente estoy
                   en búsqueda de nuevas experiencias 
                     y oportunidades de crecimiento.</p></h6>
    </span>
</div>
<div>
